.navbar {
    
     padding: 25px;
     display: flex;
     align-items: center;
     /* position: fixed; */
     /* top: 0;
     z-index: 20; */
    }
   .navbar a {
    margin-top: 60px;
     border-radius: 20px;
     background-color: #05020e;
     color: azure;
     margin-left: 20px;
     text-decoration: none;
     padding: 10px;
   }
   .navbar a:hover {
     color: #070103;
     background-color: aliceblue;
   }

.log button{
    display:inline;
    float: right;
    border-radius: 20px;
    background-color: #05020e;
    color: azure;
    margin-left: 300px;
    text-decoration: none;
    padding: 10px;
    
   }